@charset "UTF-8";
@import url("reset.css"); @import url("common.css");
.wrapper { width:1920px; max-width: 1920px; min-width: 1920px; height:100%; margin:0 auto; } 
.header { width:100%; height: 80px; background: linear-gradient(89.98deg, #24529B 0.01%, #128797 97.72%); } 
.container { padding:20px; display: flex; gap:20px; background: #EFF1F4; } 
.aside { width:200px; background: #24529B; border-radius: 10px; } 
.main { width: 1660px; display: flex; flex-direction: column; gap:20px; } 
.card { padding:30px; background: #FFFFFF; border-radius: 10px; } 


/* header */

.header { display: flex; align-items: center; justify-content: space-between; padding:0 20px; } 
.header .header-left { display: flex; align-items: flex-end; gap:30px; } 




/* login */

.login-background { min-width: 1920px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #24529B; } 
.login-wrapper { position:relative; width:500px; } 
.login-wrapper .main-logo { margin-left: 50px; } 
.login-wrapper .login-box { background-color: #fff; margin: 30px 50px 0 50px; padding:30px; } 
.login-wrapper .login-box label { font-weight: 500; font-size: 14px; color: #363738; } 
.login-wrapper .login-box input { margin-top: 6px; margin-bottom: 10px; } 
.login-wrapper .login-box p { line-height: 20px; font-weight: 500; font-size: 12px; } 
.login-wrapper .login-box .btn-blue { width:100%; margin-top: 30px; } 
.login-background footer { position:absolute; bottom:-200px; left:60%; transform: translateX(-50%); width:100%; } 
.login-background footer p { font-weight: 500; font-size: 12px; line-height: 20px; color:#fff; } 


/* modal */

.modal-appoint-info .modal-cont{width:1400px;}
.modal-appoint-info .table-wrapper{margin:10px 0;}

.modal-contract-preview .modal-cont{width:620px;}
.modal-contract-preview .modal-top{border-bottom: 1px solid #E3E3E6;padding-bottom: 16px;}
.modal-contract-preview .modal-body{width:563px;height: 742px;}